<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Full-Stack Blackjack</a>
</nav>
<br>
<div class="container">
  <div class="jumbotron text-center">
    <h3>Login with Google!</h3>
    <br>
    <a href="/auth/google"><button type="button" class="btn btn-danger btn-lg"><i class="fab fa-google"></i> &nbsp Google</button></a>
  </div>
</div>